@font-face {
    font-family: 'Foundation One';
    src: url('./FoundationOne.ttf') format('truetype');
}

:root {
  --accent: #B69121;
  --background: #0C0E12;
  --text: #F8F9FA;
}

body {
  font-family: 'Foundation One';
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--background);
}

.header {
  color: var(--accent);
  text-align: center;

  #subtext {
    color: var(--text);
    opacity: 0.4;
  }
}
